tests/test_files/camt_053_treasurease.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="BkToCstmrStmt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GrpHdr">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MsgId" type="xs:string" />
                            <xs:element name="CreDtTm" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Stmt">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Acct">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Id">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="IBAN" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="Ntry">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Amt">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="Ccy" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CdtDbtInd" type="xs:string" />
                                        <xs:element name="BookgDt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Dt" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ValDt">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Dt" type="xs:string" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="NtryDtls">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="TxDtls">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="Refs">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element
                                                                                name="InstrId"
                                                                                type="xs:string" />
                                                                            <xs:element
                                                                                name="EndToEndId"
                                                                                type="xs:string" />
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="AmtDtls">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="TxAmt">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="Amt">
                                                                                            <xs:complexType>
                                                                                                <xs:simpleContent>
                                                                                                    <xs:extension
                                                                                                        base="xs:string">
                                                                                                        <xs:attribute
                                                                                                            name="Ccy"
                                                                                                            use="required" />
                                                                                                    </xs:extension>
                                                                                                </xs:simpleContent>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="RltdPties">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Dbtr">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="Nm"
                                                                                            type="xs:string" />
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="RmtInf">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="Strd">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element
                                                                                            name="CdtrRefInf">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element
                                                                                                        name="Ref"
                                                                                                        type="xs:string" />
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>